*{
  margin: 0;
  padding: 0;
}
.float-right{
  float: right;
}
.content{
  min-height: 780px;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
/* Image Zoom */

/* End css image zoom */
