*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.float-right{
  float: right;
}
.content{
  min-height: 780px;
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.centered{
  width: 400px;
  height: 400px;
  display: block;
  margin: auto;
}
/* Image Zoom */
.img-zoom-container {
  position: relative;
  cursor: zoom-in;
}

.img-zoom-lens {
  position: absolute;
  /*set the size of the lens:*/
  width: 50px;
  height: 50px;
}

.img-zoom-result {
  /* border: 1px solid #d4d4d4; */
  /*set the size of the result div:*/
  width: 600px;
  height: 500px;
  position: absolute;
  z-index: 10;
}
#myimage{
  width: 100%;
}
/* End css image zoom */
.font-size-spesifikasi{
  font-size: 20px;
}
.quantity{
  margin-top: 20px;
  position: relative;
}
.quantity>b{
  font-size: 20px;
}
.quantity-inner{
  position: absolute;
  top: 5px;
  left: 50px;
}
.quantity-inner .minus{
  margin-right: 5px;
}
.quantity-inner .plus{
  margin-left: 5px;
}
.qty{
  font-size: 20px;
  width: 20px;
  padding: 0;
  border: none;
  padding-left: 5px;
  padding-right: 5px;

}
.minus {
  border: none;
  background-color: white;
  font-size: 20px;
}
.plus{
  border: none;
  background-color: white;
  font-size: 20px;
}
.submit-product-to-cart{
  margin-left: 10px;
  margin-top: -20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 3px;
  padding-bottom: 3px;
}
